#aboutUs{
            .descAboutUs{
                font-weight: 350;
                padding-bottom: var(--size-4);
                span{
                    display: block;
                    padding-top: var(--size-6);
                }
            }
            .listAbout{
                text-align: left;
                list-style-type: circle;
                padding-bottom: var(--size-6);
                font-weight: 350;
                // max-width: 600px;
                // margin: auto;
                // &::before{
                //     color: var(--color-primary-blue);
                // }
            }
            .logoAboutUs{
                width: 20%;
                height: 20%;
            }
}
@media all and (min-width:1100px){
    #aboutUs{
        .sectionBody{
            text-align: left;
            align-items: center;
            display: flex;
            flex-direction: row;
            gap: var(--size-8);
    }
            .listAbout{
                max-width: none;
        }
            .logoAboutUs{
                width: 10%;
                height: 10%;
            }
}
}