:root {
    --color-d_blue:#000022;
    --color-blue_1:#072AC8;
    --color-blue_2:#1A3EC1;
    --color-green_1: #15D6B3;
    --color-green_2:#73FBD3;
    --color-green_3:#30F2F2;
    --color-white:#fff;
    --color-primary-blue:#1F64FF;
}