#firstRate{
    background-color: #F5F6FA;
    .pattern{
        width: 600px;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-areas: 
        "1 2 3 13 6 1"
        "18 2 19 3 20 10"
        "14 21 11 12 8 4"
        "22 7 15 23 5 24";
        // .greenDiagonal{
        // }
    }

    .blueSqure    {
        grid-area: 
        width: 100px;
        height: 100px;
        background-color: var(--color-primary-blue);
    }
    .DBlueSqure     {
        grid-area: 6;
        width: 100px;
        height: 100px;
        background-color: darkblue;
    }
    .roundBlue        {
        grid-area: 7, 8;
        border-bottom-left-radius: 100px;
        width: 100px;
        height: 100px;
        background-color: var(--color-primary-blue);
    }
    .roundGreen     {
        grid-area: 3, 10;
        border-top-left-radius: 100px;
        width: 100px;
        height: 100px;
        background-color: red;
    }
    .roundDBlue    {
        grid-area: 11;
        border-bottom-left-radius: 100px;
        width: 100px;
        height: 100px;
        background-color: darkblue;
    }
    .greenSqure       {
        grid-area: 12;
        width: 100px;
        height: 100px;
        background-color: yellow;
    }
    .whiteSqure       {
        width: 100px;
        height: 100px;
        background-color: var(--color-white);
        grid-area: 1, 2, 18, 19, 20, 21, 22, 23, 24;
    }
    .greenDiagonal       {
        grid-area: 13, 14, 15;
    }
}