
@font-face {
    font-family: Outfit;
    src: url(font/Outfit/Outfit-VariableFont_wght.ttf);
  }
:root {
    --size-1:0.25rem;
    --size-2:0.5rem;
    --size-3:0.75rem;
    --size-4:1rem;
    --size-5:1.25rem;
    --size-6:1.5rem;
    --size-7:1.75rem;
    --size-8:2rem;
    --size-9:2.25rem;
    --size-10:2.5rem;
    --size-11:2.75rem;
    --size-12:3rem;
    --size-13:3.25rem;
    --size-14:3.5rem;
    --size-15:3.75rem;
    --size-16:4rem;
    --size-17:4.25rem;
    --size-18:4.5rem;
    --size-19:4.75rem;
    --size-20:5rem;
    --size-21:5.25rem;
    --size-22:5.5rem;
    --size-23:5.75rem;
    --size-24:6rem;
  }
      h1{
          padding-bottom: var(--size-6);
          color: black;
          font-size: var(--size-12);
          font-weight: 200;
          letter-spacing: 1px;
          .heading-detail{
              font-weight: 600;
          }
        }
       h2, .title{
        &.heading-2{
          position: relative;
          padding-bottom: var(--size-12);
          color: black;
          font-size: var(--size-10);
          font-weight: 500;
          letter-spacing: 1px;
       }
      }
        h3, .title{
        &.heading-3{
          padding-bottom: var(--size-);
          color: black;
          font-size: var(--size-9);
          font-weight: 500;
          letter-spacing: 1px;
        }
      }
        h4, .title{
          &.heading-4{
          padding-bottom: var(--size-6);
          color: var(--color-d_blue);
          font-size: var(--size-5);
          font-weight:600;
          letter-spacing: 1px;
        }
      }
      h5, .title{
        &.heading-5{
        padding-bottom: var(--size-6);
        color: var(--color-white);
        font-size: var(--size-5);
        font-weight: 600;
        letter-spacing: 1px;
      }
    }
      .description{
          padding-bottom: var(--size-6);
          color: black;
          font-weight: 400;
      }
      .detailInfo{
        display: block;
        color: var(--color-d_blue);
        font-weight: 400;
        padding-bottom: var(--size-8);
    }
      .btn{
        &.btnPrimary{
          all: unset;
          margin: 0 auto var(--size-6) auto ;
          display: block;
          padding: var(--size-4) var(--size-8);
          background-color: var(--color-primary-blue);
          color: var(--color-white);
          border-radius: 10px;
          cursor: pointer;
          &.light{
            border: solid 2px var(--color-primary-blue);
            background-color: transparent;
            color: var(--color-primary-blue);
          }
        }
          &.btnSecondary{
            all: unset;
            // margin: 0 auto var(--size-6) auto ;
            display: block;
            // padding: var(--size-4) var(--size-10);
            padding: var(--size-2) var(--size-6);
            background-color: var(--color-primary-blue);
            color: var(--color-white);
            border-radius: 10px;
            cursor: pointer;
            &.light{
              border: solid 2px var(--color-primary-blue);
              background-color: transparent;
              color: var(--color-primary-blue);
            }
          }
    }