@forward './reset';
@forward './color-variables';
@forward './typography';
@forward './global';
@forward "./header";
@forward "./hero";
@forward './howItWorks';
@forward './important';
@forward './plans';
@forward './firstRate';
@forward './aboutUs';
@forward './contactForm';
@forward './footer';


* {
    box-sizing: border-box;
  }

  body {
    margin: 0;
    font-family: Outfit;
  }