/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  --color-d_blue:#000022;
  --color-blue_1:#072AC8;
  --color-blue_2:#1A3EC1;
  --color-green_1: #15D6B3;
  --color-green_2:#73FBD3;
  --color-green_3:#30F2F2;
  --color-white:#fff;
  --color-primary-blue:#1F64FF;
}

@font-face {
  font-family: Outfit;
  src: url(font/Outfit/Outfit-VariableFont_wght.ttf);
}
:root {
  --size-1:0.25rem;
  --size-2:0.5rem;
  --size-3:0.75rem;
  --size-4:1rem;
  --size-5:1.25rem;
  --size-6:1.5rem;
  --size-7:1.75rem;
  --size-8:2rem;
  --size-9:2.25rem;
  --size-10:2.5rem;
  --size-11:2.75rem;
  --size-12:3rem;
  --size-13:3.25rem;
  --size-14:3.5rem;
  --size-15:3.75rem;
  --size-16:4rem;
  --size-17:4.25rem;
  --size-18:4.5rem;
  --size-19:4.75rem;
  --size-20:5rem;
  --size-21:5.25rem;
  --size-22:5.5rem;
  --size-23:5.75rem;
  --size-24:6rem;
}

h1 {
  padding-bottom: var(--size-6);
  color: black;
  font-size: var(--size-12);
  font-weight: 200;
  letter-spacing: 1px;
}
h1 .heading-detail {
  font-weight: 600;
}

h2.heading-2, .title.heading-2 {
  position: relative;
  padding-bottom: var(--size-12);
  color: black;
  font-size: var(--size-10);
  font-weight: 500;
  letter-spacing: 1px;
}

h3.heading-3, .title.heading-3 {
  padding-bottom: var(--size-);
  color: black;
  font-size: var(--size-9);
  font-weight: 500;
  letter-spacing: 1px;
}

h4.heading-4, .title.heading-4 {
  padding-bottom: var(--size-6);
  color: var(--color-d_blue);
  font-size: var(--size-5);
  font-weight: 600;
  letter-spacing: 1px;
}

h5.heading-5, .title.heading-5 {
  padding-bottom: var(--size-6);
  color: var(--color-white);
  font-size: var(--size-5);
  font-weight: 600;
  letter-spacing: 1px;
}

.description {
  padding-bottom: var(--size-6);
  color: black;
  font-weight: 400;
}

.detailInfo {
  display: block;
  color: var(--color-d_blue);
  font-weight: 400;
  padding-bottom: var(--size-8);
}

.btn.btnPrimary {
  all: unset;
  margin: 0 auto var(--size-6) auto;
  display: block;
  padding: var(--size-4) var(--size-8);
  background-color: var(--color-primary-blue);
  color: var(--color-white);
  border-radius: 10px;
  cursor: pointer;
}
.btn.btnPrimary.light {
  border: solid 2px var(--color-primary-blue);
  background-color: transparent;
  color: var(--color-primary-blue);
}
.btn.btnSecondary {
  all: unset;
  display: block;
  padding: var(--size-2) var(--size-6);
  background-color: var(--color-primary-blue);
  color: var(--color-white);
  border-radius: 10px;
  cursor: pointer;
}
.btn.btnSecondary.light {
  border: solid 2px var(--color-primary-blue);
  background-color: transparent;
  color: var(--color-primary-blue);
}

.sectionBody {
  padding: var(--size-4) var(--size-4);
  max-width: 340px;
  margin: auto;
  text-align: center;
}

@media all and (min-width: 768px) {
  .sectionBody {
    max-width: 600px;
  }
}
@media all and (min-width: 900px) {
  .sectionBody {
    max-width: 732px;
  }
}
@media all and (min-width: 1100px) {
  .sectionBody {
    max-width: 1600px;
  }
  .sectionBody.right {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: var(--size-6);
    align-items: center;
    justify-items: end;
  }
}
header .headBody {
  padding: var(--size-10) var(--size-4);
  max-width: 1600px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .headBody .logo {
  width: 20%;
  cursor: pointer;
}
header .headBody nav {
  display: none;
}
header .headBody .btnContent {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: var(--size-4);
  align-items: center;
}
header .headBody .btnContent .burgerMenu {
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 3px;
}
header .headBody .btnContent .burgerMenu .burgerNav {
  background-color: var(--color-primary-blue);
  height: 2px;
  width: 20px;
}

@media all and (min-width: 768px) {
  header .headBody .logo {
    position: relative;
    width: 10%;
  }
  header .headBody nav {
    display: flex;
    flex-direction: row;
    gap: var(--size-7);
  }
  header .headBody nav .list {
    all: unset;
    color: var(--color-d_grey);
    font-size: var(--size-4);
    cursor: pointer;
  }
  header .headBody .btnContent .btn.btnSecondary {
    text-align: center;
    font-size: var(--size-4);
    padding: var(--size-3) var(--size-6);
  }
  header .headBody .burgerMenu .burgerNav {
    display: none;
  }
}
@media all and (min-width: 1100px) {
  header .headerBody {
    justify-content: center;
    margin: auto;
    gap: var(--size-24);
    flex-wrap: wrap;
  }
  header .headerBody .logo {
    position: relative;
    width: 10%;
  }
}
.img-heropage {
  width: 80%;
}

@media all and (min-width: 1100px) {
  #hero .sectionBody {
    text-align: left;
  }
  #hero .sectionBody h1 {
    padding: var(--size-8) 0;
  }
  #hero .sectionBody .description {
    padding-bottom: var(--size-16);
  }
  #hero .sectionBody .btnPrimary {
    display: inline-block;
    border: solid 2px var(--color-primary-blue);
  }
}
#howItWorks .sectionBody .icon {
  fill: var(--color-primary-blue);
  width: 40px;
  height: 40px;
  margin-bottom: var(--size-3);
}
#howItWorks .sectionBody .title.heading-2 ::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100px;
  height: 2px;
  border: solid 2px var(--color-primary-blue);
}
#howItWorks .sectionBody .info {
  font-weight: 300;
  padding-bottom: var(--size-8);
}

@media all and (min-width: 1100px) {
  .article_Grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: var(--size-12);
  }
}
#important .description.important {
  font-weight: 200;
  color: grey;
}
#important .descriptionDetail {
  font-weight: 400;
  color: var(--color-d_blue);
}
#important .card {
  border-radius: 5px;
  box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.1);
}
#important .title.heading-4 {
  color: var(--color-d_blue);
}
#important .detail-h4 {
  color: var(--color-primary-blue);
  font-weight: 700;
  font-size: var(--size-8);
}
#important .source {
  color: gray;
  font-size: var(--size-3);
  font-weight: 200;
}
#important svg {
  width: 120px;
  height: 120px;
}
#important .moreInfo {
  font-weight: 200;
  color: grey;
}

@media all and (min-width: 1100px) {
  #important .swiper {
    width: 1600px;
  }
  #important .content {
    text-align: left;
    display: flex;
    gap: var(--size-2);
  }
  #important .card {
    margin: var(--size-10) auto;
    padding: var(--size-10) var(--size-14);
    background-color: var(--color-white);
    display: grid;
    grid-template-columns: 3fr 1fr;
    align-items: center;
    justify-content: space-between;
    transition: 1s;
  }
  #important .card:hover {
    transform: scale(1.2);
    z-index: 10;
  }
}
#plans .moreInfo {
  font-weight: 200;
}
#plans .detailInfo {
  padding-bottom: var(--size-16);
}
#plans .card {
  padding: var(--size-10);
  margin-bottom: var(--size-10);
  border: solid 1px var(--color-primary-blue);
  background-color: var(--color-white);
  border-radius: 30px;
}
#plans .card.blue {
  background-color: var(--color-primary-blue);
  color: var(--color-white);
}
#plans .card .title.heading-3.blue {
  color: var(--color-white);
}
#plans .card .number {
  display: block;
  color: grey;
  font-weight: 200;
  font-size: var(--size-4);
  padding-bottom: var(--size-6);
}
#plans .card .boldNumber {
  color: black;
  font-weight: 600;
  font-size: var(--size-8);
}
#plans .card .boldNumber.blue {
  color: var(--color-white);
}
#plans .card .list {
  text-align: left;
  padding-bottom: var(--size-6);
}
#plans .card .check {
  box-sizing: border-box;
  position: relative;
  display: inline-block;
  transform: scale(var(--ggs, 1));
  width: 22px;
  height: 22px;
  border: 2px solid transparent;
  border-radius: 100px;
  color: black;
}
#plans .card .check.blue {
  color: var(--color-white);
}
#plans .card .check::after {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  left: 3px;
  top: -1px;
  width: 6px;
  height: 10px;
  border-width: 0 2px 2px 0;
  border-style: solid;
  transform-origin: bottom left;
  transform: rotate(45deg);
  color: black;
}
#plans .card .check::after.blue {
  color: var(--color-white);
}
#plans .btn.btnPrimary.blue {
  padding: var(--size-4) var(--size-8);
  background-color: var(--color-white);
  color: var(--color-primary-blue);
}

@media all and (min-width: 1100px) {
  #plans .cards {
    max-width: 1100px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0;
    align-items: stretch;
    justify-items: center;
  }
  #plans .card {
    transition: 1s;
    padding: var(--size-6) var(--size-3);
    width: 350px;
  }
  #plans .card:hover {
    transform: scale(1.2);
    z-index: 10;
  }
}
#firstRate {
  background-color: #F5F6FA;
}
#firstRate .pattern {
  display: grid;
  grid-template-rows: repeat 40px 40px 40px 40px;
  grid-template-areas: "whiteSqure whiteSqure roundGreen greenDiagonal DBlueSqure blueSqure";
}
#firstRate .blueSqure {
  grid-area: blueSqure;
  width: 40px;
  height: 40px;
  background-color: var(--color-primary-blue);
}
#firstRate .DBlueSqure {
  grid-area: DBlueSqure;
  width: 40px;
  height: 40px;
  background-color: var(--color-d_blue);
}
#firstRate .roundBlue {
  grid-area: roundBlue;
  width: 40px;
  height: 40px;
  background-color: var(--color-primary-blue);
}
#firstRate .roundGreen {
  grid-area: roundGreen;
  width: 40px;
  height: 40px;
  background-color: var(--color-green_1);
}
#firstRate .roundDBlue {
  grid-area: roundDBlue;
  width: 40px;
  height: 40px;
  background-color: var(--color-d_blue);
}
#firstRate .greenSqure {
  grid-area: greenSqure;
  width: 40px;
  height: 40px;
  background-color: var(--color-green_1);
}
#firstRate .whiteSqure {
  width: 40px;
  height: 40px;
  background-color: var(--color-white);
  grid-area: whiteSqure;
}
#firstRate .greenDiagonal {
  grid-area: greenDiagonal;
}

#aboutUs .descAboutUs {
  font-weight: 350;
  padding-bottom: var(--size-4);
}
#aboutUs .descAboutUs span {
  display: block;
  padding-top: var(--size-6);
}
#aboutUs .listAbout {
  text-align: left;
  list-style-type: circle;
  padding-bottom: var(--size-6);
  font-weight: 350;
}
#aboutUs .logoAboutUs {
  width: 20%;
  height: 20%;
}

@media all and (min-width: 1100px) {
  #aboutUs .sectionBody {
    text-align: left;
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: var(--size-8);
  }
  #aboutUs .listAbout {
    max-width: none;
  }
  #aboutUs .logoAboutUs {
    width: 10%;
    height: 10%;
  }
}
#contactForm .titleBackground {
  background-color: var(--color-blue_1);
  height: 70vh;
  text-align: center;
}
#contactForm .formbox .firstName,
#contactForm .formbox .lastName,
#contactForm .formbox .email,
#contactForm .formbox .message {
  all: unset;
  background-color: transparent;
  border-bottom: solid 1px var(--color-primary-blue);
  margin-bottom: var(--size-8);
}
#contactForm .formbox .form-button {
  all: unset;
  display: block;
  margin: auto;
  padding: var(--size-4) var(--size-8);
  background-color: var(--color-primary-blue);
  color: var(--color-white);
  border-radius: 10px;
}

@media all and (min-width: 1100px) {
  #contactForm .sectionBody {
    text-align: left;
  }
  #contactForm .sectionBody.contact {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: var(--size-3);
    align-items: center;
  }
  #contactForm .sectionBody .title.heading-2 {
    color: var(--color-white);
  }
  #contactForm .sectionBody .formbox {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    gap: var(--size-6);
    grid-template-areas: "firstName LastName" "Email Email" "Message Message";
  }
  #contactForm .sectionBody .firstName {
    grid-area: firstName;
    font-size: var(--size-5);
  }
  #contactForm .sectionBody .lastName {
    grid-area: LastName;
    font-size: var(--size-5);
  }
  #contactForm .sectionBody .email {
    grid-area: Email;
    font-size: var(--size-5);
  }
  #contactForm .sectionBody .message {
    grid-area: Message;
    font-size: var(--size-5);
  }
}
footer {
  background-color: var(--color-d_blue);
  color: var(--color-white);
}
footer .littleTitle {
  padding: var(--size-10) 0 var(--size-6);
  color: var(--color-white);
}
footer .social {
  display: inline-block;
  fill: var(--color-white);
  margin-left: 15px;
  width: 30px;
  height: 30px;
}
footer .logo {
  padding-top: var(--size-6);
  display: block;
  margin: auto;
  width: 30%;
}
footer .list {
  padding-bottom: var(--size-4);
  font-weight: 300;
}

@media all and (min-width: 1100px) {
  footer .sectionBody {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
  }
  footer .sectionBody .box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--size-8);
  }
  footer .sectionBody .box .logo {
    margin: 0;
  }
  footer .sectionBody .littleTitle,
  footer .sectionBody .list {
    text-align: left;
  }
  footer .sectionBody .list {
    font-size: var(--size-5);
  }
}
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Outfit;
}/*# sourceMappingURL=style.css.map */