#contactForm{
    .title{
    &.heading-2{
        &.background{
            color: var(--color-primary-blue);
    
        }
    }
}
    .formbox{
        .firstName, 
        .lastName,
        .email,
        .message{
            all: unset;
            background-color: transparent;
            border-bottom: solid 1px var(--color-primary-blue);
            margin-bottom: var(--size-8);

        }
        .form-button{
            all: unset;
            display: block;
            margin: auto;
            padding: var(--size-4) var(--size-8);
            background-color: var(--color-primary-blue);
            color: var(--color-white);
            border-radius: 10px;

        }
    }

}
@media all and (min-width:768px) {
    #contactForm{
        .formbox{
            display: flex;
            flex-direction: column;
            gap:var(--size-6);
            width: 400px;
            margin: auto;
        }
    }
}
@media all and (min-width:1100px) {
#contactForm{
    .sectionBody{
        text-align: left;
        &.contact{
            display: grid;
            grid-template-columns: 1fr 2fr;
            gap: var(--size-24);
            align-items: center;
        }
        .titleBackground{
            background-color: var(--color-blue_2);
        }
            .title{
                &.heading-2{
                    padding: 90px;
                    color:var(--color-white);
                    text-align: left;
                    width: 400px;
                }
            }
        .formbox{
            width: unset;
            margin: unset;
            display: grid;
            grid-template-rows: 1fr 1fr 1fr;
            gap:  0 var(--size-20);
            grid-template-areas: 
            "firstName LastName"
            "Email Email"
            "Message Message";
        }
        .firstName{
            grid-area: firstName;
            font-size: var(--size-5);
        }
        .lastName{
            grid-area: LastName;
            font-size: var(--size-5);

        }
        .email{
            grid-area: Email;
            font-size: var(--size-5);

        }

        .message{
            grid-area: Message;
            font-size: var(--size-5);

        }
        .form-button{
            margin: unset;
            width: 105px;
        }
            }
        
    }
    }
@media all and (min-width:1600px) {
    #contactForm{
    .sectionBody{
        text-align: left;
        .title{
            &.heading-2{
                padding: 70px;
                font-size: var(--size-12);
                transform: translateX(15%);
            }
        }
        }
    }
    }