#firstRate{
    background-color: #F5F6FA;}
@media all and (min-width: 1100px){
    .firstRateBody{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 120px;
    }
    .title{
        &.heading-2{ 
            &.rate{
            width: 500px;
        }
    }
}
    .btn{
        &.btnPrimary {
            &.rate{
                margin-left: 0;
            }
        }
    }
}
//     .pattern{
//         // width: 600px;
//         display: grid;
//         grid-template-columns: repeat(6, 1fr);

//     }

//     .blueSqure{
//         width: 100px;
//         height: 100px;
//         background-color: var(--color-primary-blue);
//         &1{
//             width: 100px;
//             height: 100px;
//             grid-column-start: 6;
//             grid-column-end: 7;
//             background-color: var(--color-primary-blue);
//         }
//         &2{
//             width: 100px;
//             height: 100px;
//             grid-column-start: 8;
//             grid-column-end: 9; 
//             background-color: var(--color-primary-blue);       
//         }
//         &3{
//             width: 100px;
//             height: 100px;
//             grid-column-start: 10;
//             grid-column-end: 11;  
//             background-color: var(--color-primary-blue);      
//         }
//         &4{
//             grid-area: 4;
//         }
//         &5{
//             grid-area: 5;
//         }
//     }
//     .DBlueSqure{
//         width: 100px;
//         height: 100px;
//         background-color: darkblue;
//         &9{
//             grid-area: 9;
//         }
//     }
//     .roundBlue{
//         border-bottom-left-radius: 100px;
//         width: 100px;
//         height: 100px;
//         background-color: var(--color-primary-blue);
//         &6{
//             grid-area: 6;
//         }
//         &7{
//             grid-area: 7;
//         }
//     }
//     .roundGreen{
//         border-top-left-radius: 100px;
//         width: 100px;
//         height: 100px;
//         background-color: red;
//         &9{
//             grid-area: 11;
//         }
//         &10{
//             grid-area: 10;
//         }
//     }
//     .roundDBlue    {
//         border-bottom-left-radius: 100px;
//         width: 100px;
//         height: 100px;
//         background-color: darkblue;
//         &8{
//             grid-area: 8;
//         }
//     }
//     .greenSqure{
//         width: 100px;
//         height: 100px;
//         background-color: yellow;
//         &12{
//             grid-area: 12;
//         }
//     }
//     .greenDiagonal       {
//         &13{
//             grid-area: 22;
//         }
//         &14{
//             grid-area: 23;
//         }
//         &15{
//             grid-area: 24;
//         }
//     }
// }
