.img-heropage{
    width: 80%;
}
@media all and (min-width:1100px){
    #hero{
        .sectionBody{
        text-align: left;
        h1{
            padding: var(--size-8) 0;
        }
        .description{
            padding-bottom: var(--size-16);
        }
        .btnPrimary{
            display: inline-block;
            border: solid 2px var(--color-primary-blue);
            margin-right: var(--size-2);
        }
    }
}
}